.tst-enter-number-question {
  text-indent: 30px;
  border: 1px solid transparent;
  width: 100%;
  font-size: 18px;
  display: inline-block;
  color: #333;
  background: #fcfcfb;
  @include border-radius(5px);
}

.tst-enter-number-question-text {
  font-size: 22px;
  line-height: 40px;
}

.tst-enter-number-answer-holder {
  padding-left: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 20px;
}

.tst-enter-number-answers-holder > input {
  margin-left: 20px;
}