.tst-establish-question {
  text-indent: 30px;
  border: 1px solid transparent;
  width: 100%;
  font-size: 18px;
  display: inline-block;
  color: #333;
  background: #fcfcfb;
  @include border-radius(5px);
}

.est-items-container {
  height: 550px;
  text-indent: 0;
  overflow: hidden;
  width: 100%;
  padding-top: 20px;
  background: rgba(216, 216, 216, 0.5);
  position: relative;
}

.est-drag-target {
  cursor: pointer;
  outline: none;
  position: absolute;
  height: 100px;
  font-size: 30px;
  display: inline-block;
  background: transparent;
}

.est-drag-target-content {
  background: #f3f2f7;
  display: inline-block;
  position: relative;
  width: calc(100% - 29px);
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  border-top: 2px solid #A0B7D7;
  border-right: 2px solid #A0B7D7;
  border-bottom: 2px solid #A0B7D7;
  @include border-top-right-radius(5px);
  @include border-bottom-right-radius(5px);
}

.est-drag-target:hover > .est-drag-target-content {
  background: #FAF8DC;;
  border-top: 2px solid #b89a72;
  border-right: 2px solid #b89a72;
  border-bottom: 2px solid #b89a72;
}

.est-drag-target:hover > .est-drag-target-grip {
  background: url('../img/hoverRightItem.svg') no-repeat left;
}

.est-drag-target-grip {
  background: url("../img/normalRightItem.svg") no-repeat left;
  display: inline-block;
  width: 20px;
  height: 100%;
  position: relative;
  right: -8px;
}

.est-drop-target {
  outline: none;
  position: absolute;
  height: 100px;
  font-size: 30px;
  display: inline-block;
  color: #000000;
  background: transparent;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.est-drop-target-content {
  display: inline-block;
  width: calc(100% - 29px);
  height: 100%;
  background: #dbe4ef;
  overflow: hidden;
  overflow-y: auto;
  border-top: 2px solid #a0b7d7;
  border-bottom: 2px solid #a0b7d7;
  border-left: 2px solid #a0b7d7;
}

.est-drop-target-grip {
  background: url('../img/normalLeftItem.svg') no-repeat right;
  display: inline-block;
  position: relative;
  width: 20px;
  height: 100%;
  left: -8px;
}

.est-drop-target-over > .est-drop-target-content {
  background: #FAF8DC;
  border-top: 2px solid #B89A72;
  border-bottom: 2px solid #B89A72;
  border-left: 2px solid #B89A72;
}

.est-drop-target-over > .est-drop-target-grip {
  background: url('../img/hoverLeftItem.svg') no-repeat right;
}

.est-empty-item {
  position: relative;
  display: inline-block;
  outline: none;
  border: 1px solid transparent;
  min-width: 65px;
  font-size: 30px;
  background: transparent;
  height: 100px;
}