.tst-filling-question {
  text-indent: 30px;
  border: 1px solid transparent;
  width: 100%;
  font-size: 18px;
  display: inline-block;
  color: #333;
  background: #fcfcfb;
  @include border-radius(5px);
}

.tst-filling-question-text {
  font-size: 22px;
  line-height: 40px;
}

.tst-filling-quesion-holder {
  padding: 5px 60px;
  line-height: 40px;
  font-size: 24px;
}

.tst-filling-gap-option {
  background: rgb(204, 246, 24);
}