
.left-side-menu-container div.form-group{
  margin-bottom: 0;
}
.left-side-menu-container div.form-group label{
  text-align: center;
}

.left-side-menu-container{
  width: 250px;
  height: 97%;
  margin: 5px auto;
  padding-top: 0;
  border: 2px solid #ccc;
  border-radius: 7px;
}

.left-side-combobox-container{
  width: 200px;
  margin: auto;
}
.send-request-btn{
  width: 80px;
}


.select-box{
  display: block;
  width: 100%;
  height: 30px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.centered-div{
  text-align: center;
}

.tree-menu-container{
  overflow-y: auto !important;
  position: absolute;
  top: 280px;
  bottom: 20px;
  right: 7px;
  left: 5px;
}