.loading-bar-popup{
  position: relative;
  margin: 0 auto;
  top: -50%;
  width: 350px;
  height: 68px;
  z-index: 1000;
}


.loading-bar-progress-text{
  position: absolute;
  left: 85px;
  top: 0px;
  height: 100%;
  line-height: 68px;
  font-size: 18px;
  color: #c30;
}

.loader {
  margin: 6px auto 6px 10px;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 6px solid #c30;
  border-right: 6px solid #c30;
  border-bottom: 6px solid #fff;
  border-left: 6px solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loading-bar-ajax_notification {
  cursor: pointer;
  background: #ffe57e;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 5px 90px #888;
  -moz-box-shadow: 0 5px 90px #888;
  -webkit-box-shadow: 0 5px 90px #888;
  top: 0;
  position: absolute;
  margin-top: 0;
  margin-bottom: 0;
  padding: 5px;
  width: 350px;
  z-index: 1100;
  text-align: center;
  display: inline;
  left: 0;
  right: 0;
  border: 1px solid #e2b709;
}

.loading-bar-error {
  border: 1px solid maroon !important;
  color: #000;
  background: pink;
  margin: .5em 0 1.3em;
  padding: 10px 10px 10px 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 1px #fff inset;
  -webkit-box-shadow: 0 1px 1px #fff inset;
  box-shadow: 0 1px 1px #fff inset;
}
.loading-bar-success {
  margin: .5em 0 1.3em;
  border: 1px solid;
  border-color: #a2d246;
  color: #000;
  background-color: #ebf8a4;
  padding: 10px 10px 10px 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 1px #fff inset;
  -webkit-box-shadow: 0 1px 1px #fff inset;
  box-shadow: 0 1px 1px #fff inset;
}
