.order-report-holder{
  position: absolute;
  width: 21cm;
  height: 100%;
  padding-left: 20px;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: auto;
}

.break{
  margin:10px 0;
}

.vdtab{
  border:none;
  border-bottom:#333 solid 1px;
  border-right:#333 solid 1px;
  word-wrap: break-word;
}
.vdtab th{
  border-left:#333 solid 1px;
  border-top:#333 solid 1px;
  word-wrap: break-word;
}
.vdtab td{
  border-left:#333 solid 1px;
  border-top:#333 solid 1px;
  word-wrap: break-word;
  min-height:25px;
  vertical-align:middle;
}
.bold{
  font-weight:bold;
}
.bgcol{
  background:#666;
  color:#FFF;
}
.field{
  font-size:14px;
  font-weight:bold;
  padding-left:10px;
  padding-right:4px;
  color:#333;
}
.value{
  font-size:13px;
  font-style:italic;
  padding-right:5px;
}
.h3{font-weight:bold; font-size:18px;}
.h5{font-weight:bold; font-size:15px;}
.commons{
  position: relative;
  width: 100%;
  text-align: center;
  height: 50px;
  line-height: 50px;
}
.rad{background:#ED8D83;}
.green{background:#4EF889;}

.left-padding{
  padding-left: 3px;
}

.right-padding{
  padding-right: 3px;
}


.order-report-table {
  position: relative;
  border-collapse: collapse;
  border-spacing: 0;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  margin: 20px auto;
  > tbody > tr {
    position: relative;
    display: table;
    width: 100%;
    border-bottom: 1px solid #000;
  }
  > tbody > tr > td,th {
    font-size: 14px !important;
  }
  > tbody > tr > td,th {
    position: relative;
    height: 40px;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid #000;
  }
  > tbody {
    display: block;
    height: 100%;
    width: 100%;
  }
}
.rt-td{
  min-width: 45px;
}
.subject-td{
  width: 100%;
}
.credits-td{
  min-width: 100px;
}
.credit-price{
  min-width: 100px;
}
.sign-td{
  min-width: 128px;
  text-align: center;
}
.total-summa-td{
  min-width: 205px;
}
.sign-text{
  position: relative;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  width: 220px;
  left: calc(100% - 220px);
}
.order-number{
  position: relative;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  width: 100px;
  left: calc(100% - 100px);
  text-align: right;
}
.empty-line{
  position: relative;
  height: 60px;
}
.order-agrement{
  position: relative;
  font-size: 20px;
  padding: 0 50px;
  text-align: center;
}

.order-text{
  position: relative;
  font-size: 20px;
  padding: 0 10px;
}

.order-title{
  position: relative;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 20px;
  padding-right: 100px;
}

.order-header{
  position: relative;
  right: 0;
  top: 0;
  left: calc(100% - 350px);
  width: 350px;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}
.td-border-none{
  border-left: 1px solid #fff !important;
}