.tst-single-question {
  text-indent: 30px;
  border: 1px solid transparent;
  width: 100%;
  font-size: 18px;
  display: inline-block;
  color: #333;
  background: #fcfcfb;
  @include border-radius(5px);
}

.tst-single-question-text {
  font-size: 22px;
  line-height: 40px;
}

.tst-single-answers-holder {
  padding-left: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 20px;
}

.tst-single-answers-holder > span:first-of-type {
  padding-right: 5px;
}

.tst-single-answers-holder > input {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.tst-single-answers-holder > span:last-of-type {
  padding-left: 5px;
}