.tree-view-menu {
  font-family: Tahoma;
  font-size:13px;
  color: #555;
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  overflow: hidden;
}

.tree-view-item{
  position: relative;
  padding: 0 0 0 20px;
  line-height: 20px;
  cursor: pointer;
}

.tree-view-item-expanded {
  padding: 1px 10px;
  background-image: url("../img/folder.png") !important;
  background-repeat: no-repeat;
}

.tree-view-item-collapsed {
  padding: 1px 10px;
  background-image: url("../img/folder-closed.png");
  background-repeat: no-repeat;
}

.tree-view-item-normal {
  padding: 1px 10px;
  background-image: url("../img/file.png");
  background-repeat: no-repeat;
}

.tree-view-item-selected {
  background-color: #aaddff;
  font-weight: bold;
  padding: 1px 5px;
}