.vedemost-left-side{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 260px;
  background-color: #eaeaea;
}

.vedemost-settings-holder{
  position: absolute;
  border: 2px solid #A8A5A5;
  top: 65px;
  bottom: 60px;
  left: 20px;
  right: 20px;
  overflow: hidden;
  overflow-y: auto;
}

.vedemost-right-side{
  position: absolute;
  left: 260px;
  right: 0;
  top: 0;
  bottom: 0;
}

.vedemost-cl0 {
  width: 5%;
  text-align: center;
}


.vedemost-table-controls {
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
  width: 40px;
  vertical-align: middle;
}

.vedemost-view-footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  left: 0;
  right: 0;
  text-align: right;
  line-height: 60px;
  padding-right: 70px;
  background-color: #ccc;
}

.vedemost-main-table {
  position: relative;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  > tbody > tr {
    position: relative;
    display: table;
    width: 100%;
  }
  > tbody > tr:nth-child(odd) > td {
    @include sgl-background-clip;
  }
  > tbody > tr:hover td {
    background: rgba(176, 200, 218, 0.85);
  }
  > tbody > tr > td {
    position: relative;
    height: 40px;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    background: #EAEAEA;
    @include sgl-background-clip;
  }
  > tbody {
    display: block;
    height: 100%;
    width: 100%;
    padding-right: 10px;
    overflow-y: auto;
  }
}


.vedemost-view-row{
  height: 60px;
  display: table;
  width: 100%;
  padding: 0 10px;
}
.vedemost-view-row span{
  width: 150px;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  text-indent: 10px;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  white-space: nowrap;
}


.vedemost-test-content {
  position: inherit;
  background-color: transparent;
  width: 100%;
  bottom: 0px;
  float: right;
  border-top: 2px solid currentcolor;
}


.vedemost-crt-test-row {
  height: 60px;
  display: table;
  width: 100%;
}

.vedemost-crt-test-row > span {
  width: 137px;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  text-indent: 10px;
  font-size: 18px;
}

.vedemost-lock-btn{
  width: 32px;
  height: 32px;
  cursor: pointer;
  vertical-align: middle;
}

.vedemost-ddlist{
  position: relative;
  top: 10px;
  height: 40px;
  width: 320px;
  color: #8AA8BD;
  outline: solid;
  left: 88px;
  font-size: 20px;
}

.vedemost-question-view{
  position: absolute;
  width: 100%;
  height: 100%;
}

.vedemost-answers-container {
  position: absolute;
  top: 10px;
  bottom: 80px;
  width: 100%;
  overflow: auto;
}

.open-vedemost{
  color: #0BC00B !important;
  text-decoration: underline;
  font-weight: bold;
}

.disable-btn{
  opacity: 0.5;
  cursor: none !important;
}
