//----------------------------------------------------------------
// Single Choice
//----------------------------------------------------------------

.appeal-question-holder {
  border-top: 2px solid #BEBEBE;
}

.appeal-question-title {
  padding-left: 20px;
  font-size: 24px;
  font-family: serif;
  border-bottom: 1px solid #EEE;
  color: #000000;
  font-weight: bold;
}

.appeal-question-title > span {
  display: inline-block;
}

.appeal-answers-holder {
  background: rgb(234, 238, 238);
  min-height: 50px;
}

.appeal-user-answers-holder {
  background: rgb(214, 221, 221);
  border-top: 1px solid #eee;
  min-height: 50px;
}

.as-answer {
  font-size: 24px;
  padding-left: 45px;
}

.as-answer-index {
  padding-right: 5px;
}

.as-answer-checkbox {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.as-answer-text {
  display: inline-block;
  margin: 5px;
  padding: 0 20px;
}

.correct {
  border: 2px solid #038002;
  border-radius: 10px;
}

.incorrect {
  border: 2px solid rgb(255, 0, 0);
  border-radius: 10px;
}

//----------------------------------------------------------------
// Multiple Choice
//----------------------------------------------------------------

//----------------------------------------------------------------
// Indication True False
//----------------------------------------------------------------

.ai-answer-text {
  display: inline-block;
}

.ai-answer-text > p {
  display: inline-block !important;
}

.ai-correct {
  border: 2px solid #038002;
  border-radius: 5px;
}

.ai-incorrect {
  border: 2px solid rgb(255, 0, 0);
  border-radius: 5px;
}

//----------------------------------------------------------------
// Establish Confirmity
//----------------------------------------------------------------

.aest-answer-holder{
  width: 90%;
  display: inline-block;
  height: 100px;
}

.aest-text {
  display: inline-block;
  width: 48%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  // border: 2px solid rgb(123, 117, 117);
  overflow: hidden;
  overflow-y: auto;
  height: 90px;
}

.aest-text-border {
  border: 2px solid rgb(123, 117, 117);
}

.aest-answer {
  display: inline-block;
  width: 48%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid rgb(123, 117, 117);
  overflow: hidden;
  overflow-y: auto;
  height: 90px;
}

.aest-correct{
  border: 2px solid green;
}

.aest-incorrect {
  border: 2px solid red;
}

//----------------------------------------------------------------
// Manual Enter Number
//----------------------------------------------------------------

.ap-ent-number-answer {
  display: inline-block;
  margin: 5px;
  padding: 0 20px;
}

.ap-ent-number-answer-correct {
  border: 2px solid green;
  border-radius: 5px;
  min-width: 150px;
}

.ap-ent-number-answer-incorrect {
  border: 2px solid #E3000B;
  border-radius: 5px;
  min-width: 150px;
}

//----------------------------------------------------------------
// Manual Enter Text
//----------------------------------------------------------------

.ap-ent-text-answer {
  display: inline-block;
  margin: 5px;
  padding: 0 20px;
}

.ap-ent-text-answer-correct {
  border: 2px solid green;
  border-radius: 5px;
  min-width: 150px;
}

.ap-ent-text-answer-incorrect {
  border: 2px solid #E3000B;
  border-radius: 5px;
  min-width: 150px;
}

//----------------------------------------------------------------
// Filling Gaps
//----------------------------------------------------------------

.filling-gap {
  border: 1px solid;
  border-radius: 5px;
  padding: 4px 5px;
  background: rgb(249, 242, 242);
}


.filling-gap-empty{
  border: 1px solid;
  border-radius: 5px;
  padding: 4px 5px;
  background: #f9f2f2;
  min-width: 40px;
  display: inline-block;
  min-height: 15px;
}
.filling-gap.correct {
  border: 2px solid #0A9126 !important;
}

.filling-gap.incorrect {
  border: 2px solid rgb(255, 10, 20) !important;
}

.af-answer {
  font-size: 24px;
  padding-left: 45px;
  line-height: 40px;
}