// Main View

.tst-appeal-main {
  width: 100%;
  height: 100%;
  position: absolute;
  min-height: 498px;
  min-width: 780px;
  overflow: hidden;
}

//Subjects View

.ved-container {
  position: absolute;
  background: #AFA6A6;
  width: 100%;
  height: 100%;
}

.ved-table-content {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  overflow: hidden;
  overflow-y: auto;
}

.vedemosts-main-table {
  position: relative;
  width: 100%;
  margin-left: 10px;
  border-collapse: collapse;
  border-spacing: 0;
  > tbody > tr {
    position: relative;
    display: table;
    width: 100%;
  }
  > tbody > tr:first-child > td {
    background: #5B7487;
    color: white;
    font-size: 24px;
  }
  > tbody > tr:nth-child(odd) > td {
    @include sgl-background-clip;
  }
  > tbody > tr:hover td {
    background: rgba(176, 200, 218, 0.85);
  }
  > tbody > tr > td {
    position: relative;
    height: 40px;
    font-size: 20px;
    font-family: serif;
    color: rgb(117, 103, 103);
    padding-left: 10px;
    padding-right: 10px;
    background: #fbfafc;
    @include sgl-background-clip;
  }
  > tbody {
    display: block;
    height: 100%;
    width: 100%;
    padding-right: 10px;
    overflow-y: auto;
  }
}

.ved-col1 {
  text-align: center;
  font-size: 24px !important;
  font-weight: bold;
}

summary {
  padding: 10px;
  width: 100%;
  height: 50px;
  background-color: #666;
  color: white;
  font-size: 24px;
  border-bottom: 1px solid white;
  cursor: pointer;
}

details:last-child > summary {
  border-bottom: 1px solid;
}

details.no-det summary::before {
  padding-left: 5px;
}

// Appeal View

.appeal-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #e6e6e6;
}

.appeal-header {
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  background: #444444;
}

.appeal-header-back {
  display: inline-block;
  height: 100%;
  width: 100px;
  font-size: 24px;
  color: white;
  padding: 0 10px;
  line-height: 50px;
  border-right: 2px solid black;
  cursor: pointer;
}

.appeal-header-back:hover {
  background: #333333;
}

.appeal-header-back:active {
  background: #221F1F;
}

.appeal-header-info {
  display: inline-block;
  width: calc(100% - 110px);
  height: 50px;
  position: absolute;
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.appeal-header-student,
.appeal-header-score {
  height: 25px;
}

.appeal-questions-container {
  position: absolute;
  display: block;
  top: 49px;
  bottom: 80px;
  left: 0;
  right: 0;
  overflow: hidden;
  overflow-y: auto;
  background: #ffffff;
}

// Appeal Footer

.appeal-footer {
  position: absolute;
  display: block;
  width: 100%;
  height: 80px;
  bottom: 0;
  font-size: 24px;
  text-align: left;
  line-height: 80px;
  background: #444444;
  color: white;
  font-weight: bold;
  padding-left: 50px;
}

.appeal-footer > select {
  background: #444444;
  cursor: pointer;
}

